[submodule "LightFlowUI"]
	path = LightFlowUI
	url = https://github.com/lightjunction/LightFlowUI.git
[submodule "projects/lightflow-auto-editing"]
	path = projects/lightflow-auto-editing
	url = https://github.com/lightjunction/lightflow-auto-editing.git
[submodule "projects/lightflow-std"]
	path = projects/lightflow-std
	url = https://github.com/lightjunction/lightflow-std.git
[submodule "projects/lightflow-flux"]
	path = projects/lightflow-flux
	url = https://github.com/lightjunction/lightflow-flux.git
[submodule "projects/lightflow-rig"]
	path = projects/lightflow-rig
	url = https://github.com/lightjunction/lightflow-rig.git
